*{
    font-family: century gothic;
    font-size: 15px;
}

QMainWindow#MainWindow {
    background-color: rgba(255, 255, 255, 0.822);
    /* background-image: url(/UI/bg.jpg); */
}

QGroupBox{
    border-radius: 5px;
    background-color: rgba(172, 206, 236, 0.548);
    /* background-blend-mode: luminosity; */
}

#labelCustomerInfo, #labelOrderInfo{
    font-size: 19px;
}

QGroupBox{
    border: 0.1px white;
}

QLineEdit{
    border: 1px solid rgba(41, 39, 39, 0.5);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: serif;
    font-size: 14pt;
}

QTextEdit{
    border: 1px solid rgba(41, 39, 39, 0.5);
    border-radius: 5px;
    font-family: serif;
}

QComboBox{
    border: 1px solid rgba(41, 39, 39, 0.5);
    border-radius: 5px;
}

QStatusBar#statusbar{
    background-color: rgb(153, 153, 153);
} 